* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    /* no underline */
}


:root {
    background-color: #ffffffd7;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    flex: auto;
}

.spline-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.info-container {
    z-index: 2;
    opacity: 0.9;
}

#M-Logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10%;
    font-weight: 700;
    color: #333;
    text-shadow: 0 0 1px #333;
    position: fixed;
    top: 10px;
    left: 10px;
}

#N-Logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10%;
    font-weight: 700;
    color: #333;
    text-shadow: 0 0 1px #333;
    position: fixed;
    top: 31px;
    left: 31px;
}

#e-mail {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10%;
    font-weight: 700;
    color: #333;
    text-shadow: 0 0 1px #333;
    position: fixed;
    top: 10px;
    right: 10px;
}

#phone {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10%;
    font-weight: 700;
    color: #333;
    text-shadow: 0 0 1px #333;
    position: fixed;
    top: 31px;
    right: 31px;
}