/* GENERAL STYLES */

:root {
  --nav-color: #91c7b9;
  --bg-color-1: #fbfcf8;
  --bg-color-2: #e4e3e6;
  --bg-color-3: #c9c2e0;
  --accent-color: #8e485b;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-nav-link: 1.5rem;
  --font-size-p: 1.5rem;
  --font-size-span: 1rem;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-color: #3c6156;
    --bg-color-1: #646563;
    --bg-color-2: #5b5b5c;
    --bg-color-3: #504e5a;
    --accent-color: #391d24;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Playfair Display;
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: Playfair Display SC;
  src: url(../fonts/PlayfairDisplaySC-Regular.ttf);
}

@font-face {
  font-family: IBM Plex Serif;
  src: url(../fonts/IBMPlexSerif-Regular.ttf);
}

@font-face {
  font-family: IBM Plex Sans;
  src: url(../fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
  font-family: IBM Plex Mono;
  src: url(../fonts/IBMPlexMono-Regular.ttf);
}

h1 {
  font-family: Playfair Display;
  font-size: var(--font-size-h1);
  font-weight: 800;
}

h2 {
  font-family: Playfair Display SC;
  font-size: var(--font-size-h2);
  font-weight: 400;
}

.nav-logo {
  height: 60px;
  width: 60px;
  animation: rotate 20s ease-in-out infinite;
}

.nav-link {
  font-family: IBM Plex Serif;
  font-size: var(--font-size-nav-link);
  font-weight: 400;
  color: black;
  margin-right: 1vw;
}

.nav-link:hover {
  color: white;
  transition: 0.5s ease;
}

.nav-link:active {
  color: var(--accent-color);
}

p {
  font-family: IBM Plex Sans;
  font-size: var(--font-size-p);
  font-weight: 400;
}

span {
  font-family: IBM Plex Mono;
  font-size: var(--font-size-span);
  font-weight: 400;
  text-align: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes color-transition-nav {
  from {
    background-color: var(--bg-color-3);
  }

  to {
    background-color: var(--nav-color);
  }
}

@keyframes color-transition-body {
  from {
    background-color: var(--bg-color-2);
  }

  to {
    background-color: var(--bg-color-1);
  }
}

body {
  animation: color-transition-body 1s alternate ease-in;
  background-color: var(--bg-color-1);
}

nav {
  animation: color-transition-nav 1s alternate ease-in;
  background-color: var(--nav-color);
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  margin-left: 1vw;
  padding: 1.3vh;
}

.main-title {
  margin-left: 1.5vw;
  margin-top: 1.5vw;
}

.footer-legal {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color-3);
  border: #000 solid 2px;
  border-top-left-radius: 30px;
  height: 7vh;
  width: max(14vw, 14vh);
}

.main-bar {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  width: auto;
  height: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

/* HOME PAGE STYLES */

.home-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.home-image {
  width: 351px;
  height: 394px;
  flex-shrink: 0;
}

.home-text {
  margin-left: 1.5vw;
  margin-bottom: 50px;
}

/* LEGAL PAGE STYLES */

.legal-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.legal-mail {
  margin-top: 1vh;
  margin-left: 1.5vw;
}

.legal-email {
  text-decoration: none;
}

/* CONTACT PAGE STYLES */

.contact-section {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#contact-label-name {
  grid-column: 1 / 2;
}

#contact-label-email {
  grid-column: 3 / 4;
}

#contact-input-name {
  grid-column: 1 / 3;
}

#contact-input-email {
  grid-column: 3 / 5;
}

#contact-label-subject {
  grid-column: 1 / 5;
}

#contact-input-subject {
  grid-column: 1 / 5;
}

#contact-label-message {
  grid-column: 1 / 5;
}

#contact-input-message {
  grid-column: 1 / 5;
  resize: none;
  height: 20vh;
}

#contact-input-message::-webkit-scrollbar {
  display: none;
}

#contact-input-message {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contact-label {
  font-family: Playfair Display SC;
  font-size: var(--font-size-h2);
  font-weight: 550;
}

.contact-input {
  padding: 0.4em;
  font-family: IBM Plex Sans;
  font-size: var(--font-size-p);
  border: #000 solid 0.2em;
  border-radius: 5%;
  margin: 1em;
}

.contact-submit {
  font-family: IBM Plex Sans;
  font-size: var(--font-size-p);
  background-color: var(--bg-color-2);
  border: #000 solid 0.2em;
  width: 10vw;
  border-radius: 15%;
  margin: 1em;
  padding: 0.5vw;
  grid-column: 1 / 1;
}

.contact-submit:hover {
  background-color: var(--accent-color);
  transition: 0.5s ease;
}

/* PROJECTS PAGE STYLES */

.projects-section {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
}

.projects-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow: hidden;
  margin: 1vw;
  padding: 2vw;
  min-width: 500px;
  max-width: 500px;
  min-height: 600px;
  max-height: 600px;
  background-color: var(--bg-color-2);
  border: #000 solid 0.2em;
  transition: 0.5s ease;
}

.projects-section::-webkit-scrollbar {
  display: none;
}

.projects-section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projects-card:hover {
  background-color: var(--bg-color-3);
  transition: 0.5s ease;
}

.projects-title {
  color: black;
}

.projects-image {
  width: 400px;
}

/* MOBILE OVERWRITES */

@media screen and (max-width: 1000px) {
  :root {
    --font-size-h1: 4rem;
    --font-size-h2: 3.5rem;
    --font-size-nav-link: 3rem;
    --font-size-p: 2rem;
    --font-size-span: 1.5rem;
  }

  .nav-logo {
    height: 100px;
    width: 100px;
  }

  /* HOME */
  .home-section {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .home-text {
    margin-top: 3vh;
  }

  /* Contact */
  #contact-label-name {
    grid-column: 1 / 5;
    order: 1;
  }

  #contact-label-email {
    grid-column: 1 / 5;
    order: 3;
  }

  #contact-input-name {
    grid-column: 1 / 5;
    order: 2;
  }

  #contact-input-email {
    grid-column: 1 / 5;
    order: 4;
  }

  #contact-label-subject {
    grid-column: 1 / 5;
    order: 5;
  }

  #contact-input-subject {
    grid-column: 1 / 5;
    order: 6;
  }

  #contact-label-message {
    grid-column: 1 / 5;
    order: 7;
  }

  #contact-input-message {
    grid-column: 1 / 5;
    order: 8;
  }

  .contact-submit {
    grid-column: 1 / 5;
    order: 9;
    height: 5vh;
    width: 20vw;
  }

  /* PROJECTS */
  .projects-card {
    min-width: 800px;
    min-height: 1200px;
  }

  .projects-image {
    width: 700px;
  }
}
